* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #00375e;
    display: inline-block;
    position: relative;
}

.riga {
    display: inline-block;
    padding: 5px 10px;
    width: 850px;
    height: 350px;
    background-color: white;
    border: 2px, 1px;
    border-color: grey;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.riquadro {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 100%;
    border: 3px solid grey;
}

.sconto {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
}
